/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 1.7rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 250px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.card-panel h1 {
  font-size: 2.5em;
}

.card-panel h2 {
  font-size: 2em;
  border-left: 5px solid #004d40;
  padding-left: 10px;
  border-bottom: 2px solid #004d40;
  padding-bottom: 5px;
}

.card-panel h3 {
  font-size: 1.5em;
}

.card-panel h4 {
  font-size: 1.3em;
}

.card-panel p {
  font-size: 16px;
  line-height: 1.5
}

.card-panel ul {
  padding-left: 40px;
}

.card-panel ul li {
  font-size: 16px;
  list-style-type: disc;
}

.card-panel ol {
  padding-left: 40px;
}

.card-panel ol li {
  font-size: 16px;
}

.ad {
    margin-left: 2px;
    display: inline-block;
    vertical-align: top;
}

.card-panel img {
  border : 2px solid #eeeeee;
  border-radius: 7px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*
table{
  width:60%;
  display:table;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  padding: 10px 5px;
}
*/

table>tbody>tr:nth-child(odd){
  background-color:#f2f2f2;
}

table>tbody>tr>td{
  border-radius:0px;
}

