{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="list" role="main">
    <div class="article-header light-gray"><h1>#{{ .Title }}</h1></div>
    {{ range (.Paginator ).Pages }}
    <div class="summary">
      <h2><a href="{{ .RelPermalink  }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></h2>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.categories }}
          #<a href="/blog/categories/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
        <a href='//b.hatena.ne.jp/entry/{{ .Permalink }}/'><img src='//b.hatena.ne.jp/entry/image/{{ .Permalink }}/' alt='' /></a>
      </div>
    </div>
    {{ end }}
  </main>
  {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
    <nav class="pagination">
      {{ if .Paginator.HasPrev }}
      <a href="{{ .Paginator.Prev.URL }}">Prev </a>
      {{ end }}
      <span class="current-page">{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
      {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}"> Next</a>
      {{ end }}
    </nav>
  {{ end }}

{{ partial "footer.html" . }}
