{{ partial "header.html" . }}

  <!-- Main Section Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main id="single" role="main">
    <div class="article-header">
      <h1>{{ .Title }}</h1>
      <div class="meta">
        {{ .Date.Format "Jan 2, 2006" }} &nbsp;
        {{ range .Params.categories }}
          #<a href="/blog/categories/{{ . | urlize }}">{{ . }}</a>&nbsp;
        {{ end }}
        <a href='//b.hatena.ne.jp/entry/{{ .Permalink }}/'><img src='//b.hatena.ne.jp/entry/image/{{ .Permalink }}/' alt='' /></a>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="kongou_ae" data-lang="ja">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>
    </div>
    <article>
      {{ .Content }}
    </article>
    {{ partial "ad.html" . }}
    <!--{{ partial "disqus.html" . }}-->
  </main>

{{ partial "footer.html" . }}
