<div class="ad-left">
    <script type="text/javascript"><!--
    amazon_ad_tag = "kongou00-22"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_link_target = "new"; amazon_ad_price = "retail"; amazon_ad_border = "hide";//--></script>
    <script type="text/javascript" src="http://ir-jp.amazon-adsystem.com/s/ads.js"></script>
</div>
<div class="ad-right">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px"
         data-ad-client="ca-pub-6172178439361228"
         data-ad-slot="8988676513"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>
