<div class="ads">
  <div class="ad">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=books&f=ifr&linkID=ba31a948b06cdc95507db7fff75eadb9&t=kongou00-22&tracking_id=kongou00-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>  </div>
  <div class="ad">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- blog22 -->
    <ins class="adsbygoogle"
        style="display:inline-block;width:300px;height:250px"
        data-ad-client="ca-pub-6172178439361228"
        data-ad-slot="4666811716"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
  <div class="ad">
    <a href="https://px.a8.net/svt/ejp?a8mat=2TITLJ+9LWV8Y+3FJI+TSYJL" target="_blank" rel="nofollow">
    <img border="0" width="300" height="250" alt="" src="https://www20.a8.net/svt/bgt?aid=170519383581&wid=001&eno=01&mid=s00000016011005006000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www13.a8.net/0.gif?a8mat=2TITLJ+9LWV8Y+3FJI+TSYJL" alt="">
  </div>
</div>
