.ad {
    margin-left: 2px;
    display: inline-block;
}

body{  font-size: 16px; }

body #single div.meta img {
    margin: 0 auto;
    display: inline;
}

body #single img {
    display: block;
    margin: 0 auto;
}

h1{font-size: 24px;}
h2{font-size: 19px;}
h3,
h4,
h5,
h6{font-size: 18px;}

div.ad > iframe {
  vertical-align: baseline;
}
